/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Luxurious+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Cormorant Garamond", serif;
  --elegant-font: "Luxurious Script", cursive;
  --primary-color: #212529; /* dark */
  --primary-background-color: #314459; /* pickled bluewood */
  --primary-background: #eff2f1; /* haze black */
  --secondary-color: #d5436f; /* deep rose */ 
  --highlight-color: #93a3b5; /* cadet grey */
  --highlight-color-light: #eedde3; /* lavender pinocchio */
  --contrast-primary-color: #e6eaee; /* green white */ 
  --highlight-color-dark: #a7254c; /* hover rose */
  --text-color: #030405; /* dark side of the moon */
}

/* Global styles */

body {
  font-family: var(--primary-font);
  
}

h1,
h2,
h3 {
  font-family: var(--primary-font);
  color: var(--primary-background-color);
}

p {
  color: var(--text-color);
}

.primary-background {
  background-color: var(--primary-background);
}

.text-color {
  color: var(--text-color);
}

.body-link {
  display: inline-block;
  text-decoration: none;
  color: var(--secondary-color);
}

.body-link:hover {
  color: var(--highlight-color-dark);
}

.btn {
  background-color: var(--secondary-color);
  color: var(--highlight-color-light);
  border-radius: 0;
}

.btn:hover {
  background-color: var(--highlight-color-dark);
  color: var(--highlight-color-light);
}

/* Header */

  /*pushes header down 50px so it doesn't overlap the navbar */
  /* comment our to see how the navbar behaves */
  /* margin-top: 50px; */


/* grid visualisation CSS for testing */
/*.container,
.row {
  border: 2px solid black;
}

.col-12 {
  border: 2px solid white;
  background-color: lightgray;
} */

/* index.html page */
/* Testimonials */
#testimonials .fa-star {
  color: gold;
}

#testimonials .card {
  margin-bottom: 20px;
  border: none;
}

/* info.html page */

/* Services */
#services .card {
  border: none;
  border-radius: 0;
  justify-content: center;
  margin-bottom: 20px;
  background-color: var(--primary-background);
}

#services .img-fluid {
  border-radius: 0;
  }

#services .card-title {
  text-align: center;
}

#services .card-footer {
  text-align: center;
}

/* Dates section */



/* register.html page */

#registration-header,
#registration-main {
  background-color: var(--primary-background);
}

/* Form section */
#registration-form {
  background-color: rgba(239, 242, 241, 0.7);
  
}

#registration-form sup {
  color: var(--secondary-color);
  font-size: 0.5rem;
}

.form-check-input,
.form-control {
  border: 1px solid var(--highlight-color-dark);
  border-radius: 0%;
}

.form-control {
  padding: 0.2rem 0.75rem;
  max-height: 1.5rem;
  max-width: 75%;
}

/* Footer / contact */
#contact {
  padding-bottom: 3rem;
}

#contact i {
  color: var(--secondary-color);
  font-size: 1.9rem;
}

#contact i:hover {
  color: var(--highlight-color-dark);
}


/* Media quieries */
/*info.html page */



/* register.html page */
/* Form section */
/* for medum and large screens 768px and above */
@media screen and (min-width: 768px) and (max-width: 1440px) {
  #register {
  background-image: url("../images/timetables-image.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100%;
}
  
}
  
