/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Luxurious+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Cormorant Garamond", serif;
  --elegant-font: "Luxurious Script", cursive;
  --primary-color: #212529; /* dark */
  --primary-background-color: #314459; /* pickled bluewood */
  --secondary-color: #d5436f; /* deep rose */ 
  --highlight-color: #93a3b5; /* cadet grey */
  --highlight-color-light: #eedde3; /* lavender pinocchio */
  --contrast-primary-color: #e6eaee; /* green white */ 
}

/* Global styles */

body {
  font-family: var(--primary-font);
  
}

h1,
h2,
h3 {
  font-family: var(--primary-font);
}

.light-background {
  background-color: var(--highlight-color-light);
}

.secondary-light-background {
  background-color: var(--contrast-primary-color);
}

/* Navbar */
#navbar {
  background-color: var(--primary-background-color);
  color: var(--secondary-color);
}

/* Main */
/* push main down so that navbar doesn't overlap */
main {
  padding-top: 56px;
}

/* grid visualisation CSS for testing */
/*.container,
.row {
  border: 2px solid black;
}

.col-12 {
  border: 2px solid white;
  background-color: lightgray;
} */

/* Testimonials */
#testimonials .fa-star {
  color: gold;
}

#testimonials .card {
  margin-bottom: 20px;
  border: none;
}


/* Services */
#services .card {
  border: none;
  border-radius: 0;
  justify-content: center;
  margin-bottom: 20px;
}

#services .card-link {
  display: inline-block;
  text-decoration: none;
  color: var(--secondary-color);
}

#services .img-fluid {
  
  border-radius: 0;
  
}

#services .btn {
  background-color: var(--secondary-color);
  color: var(--highlight-color-light);
  border-radius: 0;
}

#services .card-title {
  text-align: center;
}

#services .card-footer {
  text-align: center;
}

/* Dates section */


/* Media quieries */
/* For small and medium screen sizes max-width 992px */
@media (max-width: 992px) {
  #section .img-fluid {
   width: 100%;
   height:auto;
  }
}
  
/* For large screen sizes 992px and wider */
@media (min-width: 992px) {
 #section p {
  font-size: 4em;
 }

  #section .img-fluid {
    width:auto;
    max-height: 460px;

  }
  
}