/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ysabeau:ital,wght@0,1..1000;1,1..1000&display=swap");

/* CSS Variables */
:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Luxurious Script", cursive;
  --primary-background-color: #212529; /* dark */
  --primary-color: #314459; /* pickled bluewood */
  --secondary-color: #d5436f; /* deep rose */ 
  --highlight-color: #93a3b5; /* cadet grey */
  --heghlight-color-light: #eedde3; /* lavender pinocchio */
  --contrast-primary-color: #e6eaee; /* green white */

  
}

/* Global styles */

body {
  font-family: var(--primary-font);
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

p {
  color: var(--contrast-primary-color);
}

.dark-background {
  background-color: var(--primary-background-color);
}

.light-text {
  color: var(--contrast-primary-color);
}

/* Navbar */
#navbar {
  background-color: var(--primary-background-color);
  color: var(--secondary-color);
}

/* Main */
/* push main down so that navbar doesn't overlap */
main {
  padding-top: 56px;
}

/* grid visualisation CSS for testing */
/*.container,
.row {
  border: 2px solid black;
}

.col-12 {
  border: 2px solid white;
  background-color: lightgray;
} */

/* Services */
#services .card {
  border: none;
  justify-content: center;
}

#services .card-link {
  display: inline-block;
}

