/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* grid visualisation CSS for testing */
.container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}